<mat-card>
  <img class="padlock" src="assets/img/padlock.png" alt="padlock">
  <h1 class="signInTitle">Please Sign In</h1>
  <mat-card-content>
    <form class="form">
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Email</mat-label>
        <input required autocomplete="off" autofocus="true" type="email" matInput>
      </mat-form-field>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Password</mat-label>
        <input required autocomplete="off" type="password" matInput>
      </mat-form-field>
      <button class="wide" mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
