<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Automatic Rows and Columns
      </mat-panel-title>
    </mat-expansion-panel-header>

    <a mat-list-item href="playing-with-columns">Playing With Columns</a>
    <a mat-list-item href="understanding-fr">Understanding the Fr unit</a>
    <a mat-list-item href="playing-with-rows">Playing With Rows</a>
    <a mat-list-item href="rows-with-names">Rows with Names</a>
    <a mat-list-item href="labels">Labels</a>
    <a mat-list-item href="info-card-grid">Info Card Grid</a>
    <a mat-list-item href="autofit-vs-autofill">Autofit vs Autofill</a>
    <a mat-list-item href="playing-cards">Playing Cards</a>
    <a mat-list-item href="flex-playing-cards">Playing Cards - Flexbox</a>
    <a mat-list-item href="spanning">Spanning</a>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Alignment
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item href="auto-center">Auto Centering</a>
    <a mat-list-item href="advanced-center">Advanced Centering</a>
    <a mat-list-item href="bob-ross">Bob Ross</a>
  </mat-expansion-panel>
</mat-accordion>
