<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Automatic Rows and Columns
      </mat-panel-title>
    </mat-expansion-panel-header>

    <a mat-list-item href="labels">Labels</a>
    <a mat-list-item href="playing-cards">Playing Cards</a>
    <a mat-list-item href="spanning">Spanning</a>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Alignment
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item href="auto-center">Auto Centering</a>
    <a mat-list-item href="advanced-center">Advanced Centering</a>
  </mat-expansion-panel>
</mat-accordion>
