.sandbox {
  background-color: #c1bfbf;
  padding: 20px;
}

.sandbox > * {
  color: black;
  background-color: white;
  padding: 20px;
  margin: 1rem 0;
}

.heading {
  font-size: 200%;
  font-weight: bold;
}

.content {
}

.bob {
  max-height: 30rem;
  max-width: 20rem;
  width: 100%;
}

.footer {
}
